<swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-swiper-autoplay="5500"><img class="imageSlide" src="//www.florianperrier.com/app/uploads/2020/07/FlorianPerrier-developpeur-web-paris-Compagnie-OZ-2.jpg" alt="img 1"></div>
      <div class="swiper-slide" data-swiper-autoplay="5500"><img class="imageSlide" src="/assets/xmco_banner_6.jpeg" alt="img 2"></div>
      <div class="swiper-slide" data-swiper-autoplay="5500"><img class="imageSlide" src="/assets/xmco_banner_7.jpeg" alt="img 3"></div>
      <div class="swiper-slide" data-swiper-autoplay="5500"><img  class="imageSlide" src="/assets/xmco_banner_8.jpeg" alt="img 4"></div>
    </div>
   
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
   
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>