<!DOCTYPE html>
<html lang="en">
  <head >

  </head> 

    <body >

<div class="nav-top" >
   


<div class="navbar-brand" style="text-align:center">
 
  <img  src="/assets/DA.png" style="width:140px">
   
  <ul class="topnav">
    
    <li><a class="active" href="#apropos">A propos de moi</a> </li>
    <li><a href="#realisation">Services</a></li>
    <li><a href="#contact">Blogs</a></li>
    <li class="right"><a href="#contact" style="  transform: translate(0px, 0px) scale(1, 1);  color: #006ddb;font-size: 16px;font-weight: 500;letter-spacing: -0.025em;text-decoration: none;white-space: nowrap;">Contactez-moi <div _ngcontent-oyf-c7="" class="cta-link-icon w-embed"><svg _ngcontent-oyf-c7="" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-oyf-c7="" stroke-linejoin="round" stroke-linecap="round" stroke-width="3.5" stroke="currentColor" d="M8 20L16 12L8 4"></path></svg></div></a></li>
  </ul>


</div>
</div>
<!-- <div class="portfolio" >
   <h1 style="color: #fff; padding-top:30px; margin-left: 210px;">Portfolio</h1>
</div>
 -->
 

<div class="slide">

  <app-slide-show></app-slide-show>
</div>



 <app-home></app-home>
  
 <app-services></app-services>
<!-- <app-compte-list></app-compte-list> -->


  </body>
</html>