
<div class="services">
   
			<p style="text-align: left;">Votre identité de marque (logo, design de tous supports web) est créée&nbsp;<strong>sur mesure</strong>&nbsp;pour répondre aux besoins de&nbsp;<strong>votre cible</strong>.</p>
<div class="shortcode-list shortcode-list-arrow2">
<ul>
<li>Design de site internet</li>
<li>Application web &amp; mobile</li>
<li>Mise en page de contenu</li>
</ul>
</div>


	<div class="vc_col-sm-4 wpb_column column_container " style="" data-animation="none" data-delay="">
			
			<p>La&nbsp;<strong>création de site web</strong>&nbsp;est indispensable pour améliorer la visibilité de ses activités. Le&nbsp;<strong>développement</strong>&nbsp;de votre site web est réalisé&nbsp;<strong>avec soin</strong>&nbsp;et répond aux standards web du W3C.</p>
<div class="shortcode-list shortcode-list-arrow2">
<ul>
<li>HTML5 &amp; CSS3</li>
<li>Design responsive (adaptable ordinateur, tablette, smartphone)</li>
</ul>
</div>

		</div> 

	<div class="vc_col-sm-4 wpb_column column_container " style="" data-animation="none" data-delay="">
			
		<div class="wpb_wrapper">
			<p>Aujourd’hui, plus de la moitié du traffic sur le web est réalisé via un périphérique mobile (smartphone, tablette). Le&nbsp;<strong>développement d’une application mobile</strong>&nbsp;pour votre entreprise est donc un service devenu incontournable.</p>
<div class="shortcode-list shortcode-list-arrow2">
<ul>
<li>développement d’application iOS (iPhone, iPad)</li>
<li>développement d’application Android (Asus, Samsung, Sony, …)</li>
</ul>
</div>

		</div> 
	</div> 
			</div> 
