<h1 style="text-align: center;">Votre Artisan Développeur</h1>
    <div  id="apropos">

        <div  class="section-style">
           
                        
          
                <div>
                    <h2 style="text-align: center; color: #1599c2;">Création de site internet, site vitrine,
        site e-commerce et sur-mesure</h2>
        
                </div> 
        
                <div>
                    <h3 style="text-align: center; color: #1599c2;">Développeur Web à Paris depuis 2018</h3>
        
                </div> 
        
        </div>
        <div class="illustration-gauche">

            <h2 >Votre projet, une réalité !</h2>
            <p id="text1">Concevoir des outils informatiques à la pointe de la technologie est ma passion. Mes expériences, mon avantage. <br> Contribuer à l'évolution technologique, mon objectif.
            </p> 
     <!--        <video id="pic" controls="" autoplay="true" loop="true" name="media"><source src="https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing%20Video-transcode.webm" type="video/webm"></video> -->
               
            <div id="pic" data-poster-url="https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-poster-00001.jpg" data-video-urls="https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-transcode.mp4,https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false" class="landing-hero-visual w-background-video w-background-video-atom">
              <video  autoplay="true" loop="true" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover" style="background-image: url('https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-poster-00001.jpg');"><source _ngcontent-qqk-c11="" src="https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-transcode.mp4" data-wf-ignore="true"><source _ngcontent-qqk-c11="" src="https://assets.website-files.com/61773716fd67fa55f5a77d86/6197077ff6ae6db543499136_Landing Video-transcode.webm" data-wf-ignore="true">
              </video></div>
                <table class="exemple">
                    <tr>
                      <td width="7em"><div id="un">7 Années</div><div class="text2">d'expériences <br> techniques</div> </td>
                      <td width="7em"><div id="deux">4 Années</div><div class="text2">d'expériences <br> professionnels</div> </td>
                    </tr>
                    <tr>
                      <td><div id="trois">+15</div><div class="text2">Projets réalisés</div></td>
                      <td><div id="quatre">100%</div><div class="text2">Passion</div></td>
                    </tr>
                  </table>

                </div>
  
   </div>